@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

.header {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(219, 186, 219);
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}

.data {
    width: 50%;
    margin: 30px auto;
    text-align: center;
    padding: 50px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
}

.create-semesters {
    display: none;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

.create-semesters .semester {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

.create-semesters .semester h1 {
    font-size: 1rem;
    margin: 15px 0;
}

.create-semesters .semester .btn {
    min-height: 30px;
    width: 30px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #a683e3;
    color: #fff;
    font-size: 25px;
    padding-bottom: auto;
    border-width: 0;
    margin-right: 10px;
    cursor: pointer;
}

.card {
    margin: 10px 5px;
}

.card input {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 10px;
}

.card input:focus {
    outline: 0;
}

#generate-btn {
    position: fixed;
    bottom: 0;
    right: 10px;
    padding: 10px;
    font-size: 1rem;
    background-color: #a683e3;
    border-radius: 10px;
    margin: 30px;
    z-index: 100;
    cursor: pointer;
    display: none;
}
#generate-btn:hover {
    transform: scale(0.98);
}

#generate-btn:focus {
    outline: 0;
}

.schedule {
    display: none;
}